@font-face {
    font-family: "MuseoSansRegular";
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PlayfairDisplayRegular";
    src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot");
    src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.woff") format("woff"),
    url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}